<footer>
    <div class="container d-flex justify-content-between align-items-center pt-6">
        <p class="footer__reserved">©2014 <a class="reserved-link" href="#">tulus</a>driyo. All Rights Reserved.</p>
        <div class="footer__link link">
            <a href="https://www.behance.net/" class="link__item"><i class="fab fa-behance"></i></a>
            <a href="https://www.linkedin.com/" class="link__item"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://plus.google.com/" class="link__item"><i class="fab fa-google-plus-g"></i></a>
            <a href="https://www.facebook.com/" class="link__item"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/" class="link__item"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</footer>