<header>
        <nav class="navbar navbar-expand-lg navbar-light ml-8 mr-8">  <!-- fixed-top -->
            <a href="#home" class="navbar-brand"><img src="img/Logo.svg" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav text-uppercase ml-auto text-right">
                    <li class="nav-item "><a href="#home" class="nav-link">Home</a></li>
                    <li class="nav-item "><a href="#aboutus" class="nav-link">About</a></li>
                    <li class="nav-item "><a href="#services" class="nav-link">Services</a></li>
                    <li class="nav-item "><a href="#works" class="nav-link">Works</a></li>
                    <li class="nav-item "><a href="#contact" class="nav-link">Contact</a></li>
                </ul>
            </div>
        </nav>
</header>
